body {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  /* background-color: rgb(35, 35, 41); */
}

a {
  color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  text-decoration: none;
}

a:hover {
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s;
}

li {
  list-style-type: none;
  display: inline-block;
  cursor:pointer;
}

.homeIcon {
  width: 40px;
  transform: scaleX(-1);
  fill: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  z-index: 100;
}

.homeIcon:hover {
  fill: rgba(0, 0, 0, 1);
  transition: 0.2s;
}

.navLink {
  color: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  text-decoration: none;
}

.navLink:hover {
  color: rgba(0, 0, 0, 1);
  transition: 0.2s;
}

.codePenIcon,.emailIcon,.gitHubIcon,.linkedInIcon {
  position: relative;
  right: 10px;
  width: 30px;
  margin: 15px;
  fill: rgba(0, 0, 0, 0.4);
  transition: 0.2s;
  z-index: 100;
  cursor: pointer;
}

.codePenIcon:hover,.emailIcon:hover,.gitHubIcon:hover,.linkedInIcon:hover {
  fill: rgba(0, 0, 0, 1);
  transition: 0.2s;
}















.mainHeader {
  position: absolute;
  top: 25vh;
  left: 15vw;
}

.mainName {
  font-size: 3em;
}

.mainTitle {
  font-size: 2.05em;
  color: rgba(0, 0, 0, 0.4);
}

.gramophone {
  position: absolute;
  top: 15vh;
  right: 15vw;
  width: 35vw;
  filter: grayscale(100%);
}
        
/* */


.footerCopyright {
  position: absolute;
  margin: 6px 0 0 25px;
  bottom: 25px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 400;
}

.footerLinks {
  width: 100vw;
  height: 100%;
  text-align: right;
}

/* */

.aboutParagraphs {
  position: absolute;
  margin: 130px 0 130px 20vw;
  max-width: 500px;
  font-size: 1.2em;
  line-height: 1.4em;
  letter-spacing: 0.0em;
}

.nautilus {
  position: absolute;
  margin: 60px auto;
  top: 15vh;
  right: 10vw;
  width: 500px;
  filter: grayscale(100%);
  transform: rotate(-90deg);
}        

/* */

.projectsContainer {
  margin: 130px 15vw 70px 15vw;
}

.projectGrid {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.screenCapCell {
  text-align: center;
  overflow: hidden;
}

.descriptionCell {
  padding: 10px 10px 10px 20px;
}
.projectName2 {
  font-size: 2em;
}
.projectDescription2 {
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.4);
}
.projectName1,.projectDescription1 {
  display: none;
}
.projectSummary {
  margin: 5px 0 0 0;
  font-weight: 700;
  font-size: 1.1em;
  line-height: 1.2em;
  letter-spacing: 0.0em;
}
.projectTechIcon {
  width: 25px;
  margin: 10px 5px 10px 5px;
}
.projectTechIconWide {
  width: 70px;
  margin: 10px 5px;
}












@media only screen and (max-width: 1090px) {
  .mainHeader {
    width: 100%;
    left: 0;
    top: 12vh;
    text-align: center;
  }
  .gramophone {
    position: absolute;
    top: auto;
    bottom: 12vh;
    right: 50%;
    width: 40vw;
    transform: translateX(20vw);
    filter: grayscale(100%);
  }

}








@media only screen and (max-width: 750px) {
  .footerCopyright {
    margin: 5px;
    bottom: 0;
    font-size: 0.8em;
  }
  .footerLinks {
    margin: 0 auto;
    width: 90vw;
    transform: translateY(-5px);
    display: flex;
    justify-content: space-between;
  }
/* */

  .mainHeader {
    width: 100%;
    left: 0;
    top: 20vh;
    text-align: center;
  }
  .mainName {
    font-size: 2em;
  }
  .mainTitle {
    font-size: 1.38em;
    color: rgba(0, 0, 0, 0.4);
  }
  .gramophone {
    top: 35vh;
    right: 50%;
    width: 300px;
    transform: translateX(150px);
  }
/* */

  .aboutParagraphs {
    position: static;
    margin: 100px 10vw 100px 10vw;
    max-width: 500px;
    font-size: 1em;  
    z-index: 100;
  }
  .nautilus {
    display: block;
    position: relative;
    top: -8vw;
    right: 0;
    width: 20vh;
    filter: grayscale(100%);
    transform: rotate(-90deg);
  }  


@media only screen and (max-height: 730px) {
  .nautilus {
    display: none;
  } 
}


  /* */

  .projectsContainer {
    margin: 100px 5vw 70px 5vw;
  }
  .projectGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
  .projectName2,.projectDescription2 {
    display: none;
  }
  .projectName1 {
    display: block;
    text-align: left;
    font-size: 2em;
  }
  .projectDescription1 {
    display: block;
    text-align: left;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
  }
  .descriptionCell {
    padding: 0;
  }
  .projectSummary {
    margin: 5px 0 0 0;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: 0.0em;
  }
  .projectTechIcon {
    width: 20px;
    margin: 10px 5px 10px 5px;
  }
  .projectTechIconWide {
    width: 55px;
    margin: 10px 5px;
  }
}







@media only screen and (max-width: 355px) {
  .aboutParagraphs {
    position: static;
    margin: 100px 10vw 100px 10vw;
    max-width: 500px;
    font-size: 0.85em;  
    z-index: 100;
  }
}















.projectLink{
  display: inline-block;
  margin: 5px 15px 5px 5px;
  padding: 5px;
  background-color: rgba(0,0,0,0.4);
  color: white;
  cursor: pointer;
  transition: background-color 0.2s;
}

.projectLink:hover{
  background-color: black;
  transition: background-color 0.2s;
}







.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: all 500ms ease-out;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: all 500ms ease-out;
}